<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css">

    <title>Live Transcription</title>
</head>
<body>
    <h1>Transcribe Audio With FastAPI</h1>

<!--    // Recup token !-->

    <button class="button button1" type="button" onclick="callApi()">
        Start a new transcription / [transcripted] meeting
    </button>

    <script src="./js/utils.js"></script>
</body>
</html>